@import "tailwindcss";

@theme {
  --font-sans: var(--font-montserrat), sans-serif;
  
  --color-background: #111111;
  --color-foreground: #ededed;

  --color-chess-light: #dce4de;
  --color-chess-dark: #3a3a3a;
  
  --color-gold-accent: #827644;
  --color-gold-glow: #e6daa2;
  
  --color-pedestal-body: #1a1917;
  --color-pedestal-cap: #42413c;
}

@layer base {
  body {
    @apply bg-background text-foreground antialiased;
  }
}

@layer utilities {
  .text-glow-gold {
    text-shadow: 0 0 10px rgba(230, 218, 162, 0.3), 0 0 20px rgba(230, 218, 162, 0.2);
  }
  .vignette {
    background: radial-gradient(circle at center, transparent 0%, rgba(0,0,0,0.6) 100%);
  }
}
